Repository gardener/gardener-extension-os-suse-chost, pull requests merged in 2021-07, with the labels that each got.

#48 Make leader election resource lock configurable and default to leases
  charts/gardener-extension-os-suse-chost/templates/deployment.yaml
  charts/gardener-extension-os-suse-chost/values.yaml
  cmd/gardener-extension-os-suse-chost/app/app.go
  example/controller-registration.yaml
  go.mod
  vendor/modules.txt
Labels: kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#44 Add a link to the cherry-pick-pr script from gardener
  Makefile
  hack/cherry-pick-pull.sh
Labels: area/dev-productivity, area/os, kind/enhancement, needs/ok-to-test, os/suse-chost, reviewed/lgtm, size/xs

#47 Enable leader election in local setup
  Makefile
Labels: area/dev-productivity, area/os, kind/enhancement, needs/ok-to-test, os/suse-chost, reviewed/lgtm, size/xs

#45 Avoid unnecessary restart of systemd services
  pkg/generator/templates/cloud-init.suse-chost.template
  pkg/generator/templates/script.suse-chost.template
  pkg/generator/testfiles/cloudinit/cloud-init
  pkg/generator/testfiles/script/cloud-init
  pkg/generator/testfiles/script/script.memoryone-chost-bootstrap
  pkg/generator/testfiles/script/script.memoryone-chost-reconcile
Labels: area/os, kind/cleanup, kind/enhancement, needs/ok-to-test, os/suse-chost, reviewed/lgtm, size/s

#46 Drop support for cloud-init
  charts/gardener-extension-os-suse-chost/templates/deployment.yaml
  charts/gardener-extension-os-suse-chost/values.yaml
  example/controller-registration.yaml
  pkg/generator/cloudinit_test.go
  pkg/generator/generator.go
  pkg/generator/invalid_config_test.go
  pkg/generator/script_test.go
  pkg/generator/testfiles/cloudinit/embed.go
Labels: area/os, kind/cleanup, needs/ok-to-test, os/suse-chost, reviewed/lgtm, size/m

#49 Remove left over files after #46
  pkg/generator/templates/cloud-init.suse-chost.template
  pkg/generator/testfiles/cloudinit/cloud-init
Labels: area/os, kind/cleanup, needs/ok-to-test, os/suse-chost, reviewed/lgtm, size/s

#50 Mitigate issue in systemd-hostnamed braking hostnamectl and preventing kubelet to restart
  pkg/generator/templates/script.suse-chost.template
  pkg/generator/testfiles/script/cloud-init
  pkg/generator/testfiles/script/script.memoryone-chost-bootstrap
  pkg/generator/testfiles/script/script.memoryone-chost-reconcile
Labels: area/os, kind/enhancement, needs/ok-to-test, os/suse-chost, reviewed/lgtm, size/s
