Repository gardener/gardener-extension-os-suse-chost, pull requests merged in 2025-01, with the labels that each got.

#198 Add Roncossek as responsible for this repository in component-descriptor
  .ci/pipeline_definitions
Labels: kind/cleanup, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/os, os/suse-chost

#202 Collect SAST assets in release pipeline
  .ci/pipeline_definitions
Labels: kind/technical-debt, needs/ok-to-test, needs/review, size/xs, area/os, os/suse-chost, ci/broken-pipeline-definition

#204 Deploy sysctls to accept IPv6 router advertisements
  pkg/controller/operatingsystemconfig/actuator.go
  pkg/controller/operatingsystemconfig/actuator_test.go
Labels: kind/enhancement, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/s, area/os, os/suse-chost

#208 Ensure that the provision OSC script runs only once
  pkg/controller/operatingsystemconfig/actuator.go
  pkg/controller/operatingsystemconfig/actuator_test.go
Labels: kind/bug, needs/ok-to-test, reviewed/ok-to-test, reviewed/lgtm, size/xs, area/os, os/suse-chost
