Repository gardener/gardener-extension-os-suse-chost, pull requests merged in 2025-04, with the labels that each got.

#220 Address TODO for legacy NetworkPolicy labels
  charts/gardener-extension-os-suse-chost/templates/service.yaml
  example/controller-registration.yaml
Labels: kind/cleanup, needs/ok-to-test, reviewed/lgtm, size/xs, area/os, os/suse-chost

#222 Switch Slack references to Gardener workspace
  README.md
Labels: area/open-source, kind/enhancement, needs/ok-to-test, reviewed/lgtm, size/xs

#229 Allow `patch` of the `gardener-extension-heartbeat` lease
  charts/gardener-extension-os-suse-chost/templates/rbac.yaml
  example/controller-registration.yaml
Labels: kind/regression, needs/ok-to-test, needs/review, size/xs, area/os, os/suse-chost
